.login-form, .register-form{
    padding-bottom: 0px !important;
    background: rgb(248,249,250);
}




.register-link, .login-link{
    text-align: center;
}

.reg-link-btn, .login-link-btn{
    padding: 0px;
}

.login-label, .register-label{
    float: left;
}

.login-input, .reg-input{
    height: 50px;
}

.btn-login, .btn-register{
    border-radius:50px !important;
    height: 50px;

}