<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light  ">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/index}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/modules}">Courses</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/testList}">Tests</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">My Accomplishments</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Log out</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <h2>Test in module: <!--/*@thymesVar id="moduleName" type="com.software.educational.data.model.Module"*/-->
    <span th:text="${moduleName}"></span> </h2>
    <form th:action="@{/moduleTest}" method="post">
        <input type="hidden" name="moduleId" th:value="${moduleId}"/>

    <th:block th:each="question:${question}">
        <table class="table table-bordered table-hover table-question">
        <thead>
        <tr>
            <td class="question-cell">
            <p th:utext="${question.questionText}"></p>


            </td>
            </tr>
        </thead>
        <th:block th:each="answer:${question.answers}">
        <tr>
            <td>
                <div class="alert " th:classappend="(${#lists.contains(newList,'' +answer.answerId)} ? 'alert-danger')"  role="alert">
                <div class="alert " th:classappend="(${#lists.contains(trueList,'' +answer.answerId)} ? 'alert-success')" role="alert">

                <input type="radio" th:value="${answer.answerId}"
                th:id="${answer.answerId}" th:name="${question.questionId}" required />


                <label  th:utext="${answer.answerText}" th:for="${question.questionId}"></label>
                <!--<label th:if="${#lists.contains(newList,'' +answer.answerId)}">False</label>-->

                </div>
                </div>
            </td>
            </tr>
        </th:block>
        </table>

        </th:block>

        <button type="submit" class="btn btn-info">Submit</button>

        <label class="validation-message" th:utext="${resultMessage}"></label>


    </form>
</div>

</body>
</html>